{% extends 'tools/base.html' %}
{% load static %}

{% block title %}{{user}}{% endblock title %}


{% block header %}

<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        {% include "tools/header.html" %}
        <!-- end header section -->
    </div>

    {% endblock %}


    <!-- nav section -->

    <!-- end nav section -->


    {% block content %}
    <!-- setting_edit section -->

    <section class="section-pagetop bg-gray">
        <div class="container">
            <h2 class="title-page">My account</h2>
        </div> <!-- container //  -->
    </section>

    <section class="section-content padding-y">
        <div class="container">
            <div class="row">




                {% include 'tools/profile_side_container.html' %}
                
                
                
                
                <!-- col.// -->
                {% comment %} {{userdetails.id}} {% endcomment %}
                <main class="col-md-9">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form class="row" method="post" action="{% url 'mysettings' userdetails.id %}">{% csrf_token %}
                                <div class="col-md-9">
                                    <div class="form-row">
                                        <div class="col form-group">
                                            <label>Name</label>
                                            <input type="text" name="name" class="form-control" value="{{userdetails.first_name}}">
                                        </div> <!-- form-group end.// -->
                                        <div class="col form-group">
                                            <label>Email</label>
                                            <input type="email" name="email" class="form-control" value="{{userdetails.email}}">
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row.// -->

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Phone</label>
                                            <input type="text" name="phone_number" class="form-control" value="{{userdetails.phone_number}}">
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row.// -->

                                    <button class="btn btn-primary">Save</button>
                                    <button class="btn btn-light">Change password</button>

                                    <br><br><br><br><br><br>

                                </div> <!-- col.// -->
                                <div class="col-md">
                                    <img src="{% static '/images/client-img.png' %}" class="img-md rounded-circle border">
                                </div> <!-- col.// -->
                            </form>
                        </div> <!-- card-body.// -->
                    </div> <!-- card .// -->
                </main> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>

    <!-- setting_edit section -->

    {% endblock %}