{% extends 'tools/base.html' %}
{% load static %}

{% block title %}{{product.name}}{% endblock title %}


{% block header %}

<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        {% include "tools/header.html" %}
        <!-- end header section -->
    </div>

    {% endblock %}


    <!-- nav section -->

    <!-- end nav section -->

    {% block content %}
    <!-- product section -->

    <div class="container mt-5 mb-5">
        <form action="{% url 'place_order' product.id %}" method="post" name="form1">{% csrf_token %}
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-6 border-end">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="main_image"> 
                                <img src="{{ product.img.url }}" id="main_product_image" width="350"> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-3 right-side">
                            <div class="d-flex justify-content-between align-items-center">
                                <h3 name="product_name" id="product_name">
                                    {{product.name}}
                                 </h3>
                                <span class="heart">
                                    <i class='bx bx-heart'></i>
                                </span>
                            </div>

                            <div class="mt-2 pr-3 content">
                                <p>{{product.description}} </p>
                            </div>

                            <h3 class="price_plus" name="price">₹ {{product.price}}</h3>

                            <input type="hidden" name="hidden_price" id="hidden_price" value="{{product.price}}">
                            <input type="hidden" name="hidden_quantity" id="hidden_quantity"
                            value="01">
                            
                            <div class="btn-group mt-3" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-dark minus">-</button>
                                <button type="button" class="btn btn-outline-dark num">o1 kg</button>
                                <button type="button" class="btn btn-outline-dark plus">+</button>
                            </div>

                            <script>
                                const plus = document.querySelector(".plus"),
                                minus = document.querySelector(".minus"),
                                num = document.querySelector(".num"),
                                price_plus = document.querySelector(".price_plus");
                                let a = 1;
                                let product_price = {{product.price}};

                                plus.addEventListener("click", ()=>{
                                a++;
                                product_price = product_price+{{product.price}};
                                a = (a < 10) ? "0" + a : a;
                                num.innerText = a + " kg";
                                price_plus.innerText = "₹ " + product_price;

                                document.getElementById('hidden_price').value = product_price;
                                document.getElementById('hidden_quantity').value = a;
                                });
                            
                                minus.addEventListener("click", ()=>{
                                if(a > 1){
                                    a--;
                                    product_price = product_price - {{product.price}};
                                    a = (a < 10) ? "0" + a : a;
                                    num.innerText = a + " kg";
                                    price_plus.innerText = "₹ " + product_price;
                                    
                                    document.getElementById('hidden_price').value = product_price;
                                    document.getElementById('hidden_quantity').value = a;
                                }
                                });
                                
                            </script>

                            {% if request.user.is_authenticated %}
                                <div class="buttons flex-row mt-4 gap-3">
                                        <button type="submit" class="btn btn-outline-dark">
                                            Buy Now
                                        </button>
                                    
                                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-outline-dark">Add to Basket</a>
                                    <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-danger"> <i class='fa fa-heart'></i> </a>
                                </div>
                            {% else %}
                                <div class="buttons flex-row mt-4 gap-3">
                                    <a href="/tools/login/" class="btn btn-outline-dark">Buy Now</a>
                                    <input type="button" value="Add to Basket" class="btn btn-outline-dark">
                                </div>
                                
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- end product section -->
    {% endblock %}




    <!-- css -->
    
    body{background-color: #ecedee}.card{border: none;overflow: hidden}.thumbnail_images ul{list-style:
    none;justify-content: center;display: flex;align-items: center;margin-top:10px}.thumbnail_images ul li{margin:
    5px;padding: 10px;border: 2px solid #eee;cursor: pointer;transition: all 0.5s}.thumbnail_images ul li:hover{border:
    2px solid #000}.main_image{display: flex;justify-content: center;align-items: center;border-bottom: 1px solid
    #eee;height: 400px;width: 100%;overflow: hidden}.heart{height: 29px;width: 29px;background-color:
    #eaeaea;border-radius: 50%;display: flex;justify-content: center;align-items: center}.content p{font-size:
    12px}.ratings span{font-size: 14px;margin-left: 12px}.colors{margin-top: 5px}.colors ul{list-style: none;display:
    flex;padding-left: 0px}.colors ul li{height: 20px;width: 20px;display: flex;border-radius: 50%;margin-right:
    10px;cursor: pointer}.colors ul li:nth-child(1){background-color: #6c704d}.colors ul
    li:nth-child(2){background-color: #96918b}.colors ul li:nth-child(3){background-color: #68778e}.colors ul
    li:nth-child(4){background-color: #263f55}.colors ul li:nth-child(5){background-color: black}.right-side{position:
    relative}.search-option{position: absolute;background-color: #000;overflow: hidden;align-items: center;color:
    #fff;width: 200px;height: 200px;border-radius: 49% 51% 50% 50% / 68% 69% 31% 32%;left: 30%;bottom:
    -250px;transition: all 0.5s;cursor: pointer}.search-option .first-search{position: absolute;top: 20px;left:
    90px;font-size: 20px;opacity: 1000}.search-option .inputs{opacity: 0;transition: all 0.5s ease;transition-delay:
    0.5s;position: relative}.search-option .inputs input{position: absolute;top: 200px;left: 30px;padding-left:
    20px;background-color: transparent;width: 300px;border: none;color: #fff;border-bottom: 1px solid #eee;transition:
    all 0.5s;z-index: 10}.search-option .inputs input:focus{box-shadow: none;outline: none;z-index:
    10}.search-option:hover{border-radius: 0px;width: 100%;left: 0px}.search-option:hover .inputs{opacity:
    1}.search-option:hover .first-search{left: 27px;top: 25px;font-size: 15px}.search-option:hover .inputs input{top:
    20px}.search-option .share{position: absolute;right: 20px;top: 22px}.buttons .btn{height: 50px;width:
    150px;border-radius: 0px !important}



    <!-- end css -->




    <!-- javascript -->


    function changeImage(element) {

        var main_prodcut_image = document.getElementById('main_product_image');
        main_prodcut_image.src = element.src;
        
  
  }

    <!-- end javascript -->